/* Laptop */
@media (max-width: 2000px) and (min-width : 651px) {
    .box {
        width: 30%;
        height: 100px;
        padding-bottom: 5px;
        gap: 10px;
    }

    .box h1 {
        font-size: 2rem;
    }

    .box input {
        width: 200px;
        font-size: 1.2rem;
    }

    .box #search {   
        font-size: 1.2rem;
    }

    #city-name {
        font-size: 3.5rem;
    }

    #weather-details {
        gap: 25px;
    }

    .detail {
        height: 100px;
        font-size: 1.5rem;
    }

    .detail h2, .detail h4 {
        top: 40%;
    }

    .big-btn {
        font-size: 2.5rem;
        height: 4rem;
        width: 4rem;
    }
}

/* Phone */
@media (max-width: 650px) {
    body {
        padding:0;
        margin: 0;
        gap: 40px;
    }

    .box {
        width: 95%;
        gap: 5px;
        margin: 0;
        height: 160px;
        margin-top: 10px;
    }

    #city-name {
        position: inherit;
        left: 0;
        transform: translateX(0);
        font-size: 3rem;
    }

    .box h1 {
        font-size: 2.5rem;
    }

    header {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position:static;
    }

    h1 {
        text-align: center;
    }

    .search {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    input {
        font-size: 1.5rem;
    }

    #search {
        font-size: 1.5rem;
    }

    .big-btn {
        font-size: 2.5rem;
        height: 4.5rem;
        width: 4.5rem;
    }

    #weather-details {
        gap: 10px;
        justify-content: center;
        width: 95%;
        grid-template-columns: 31.8% 31.8% 31.8%;
        padding-bottom: 10px;
    }

    .detail {
        height: 125px;
        padding-top: 20px;
        gap: 20px;
    }

    .detail h3 {
        font-size: 1rem;
    }

    .detail h2 {
        font-size: 2rem;
        position: static;
    }

    .detail h4 {
        font-size: 1rem;
        position: static;
    }

    img {
        width: 40px;
    }
}