header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#city-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 6rem;
}

header, #weather-details {
    width: 100%;
}



.box {
    height: 250px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
}

.box h1 {
    font-size: 4rem;
}

#weather-details {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.detail {
    text-align: center;
    height: 250px;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    font-size: 3rem;
    padding-top: 5px;
    position: relative;
}

.detail h2, .detail h4 {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    text-align: center;
}

.detail h3 {
    color: #008cff;
} 

#temp-value {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    font-size: 2rem;
    margin-right: 5px;
    border-radius: 10px;
    padding: 2px 5px;
}

#search {
    font-size: 2rem;
}

img {
    width: 60px;
    border: 0;
    border-radius: 50%;
    margin-right: 5px;
}

.dark-img {
    background: #202020;
}

.light-img {
    background: #747474;
}

/* Buttons */
#buttons {
    display: flex;
    gap: 20px;
}

.big-btn {
    font-size: 4rem;
    background: #0077ff;
    color: #fff;
    border: 0;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
}

.big-btn:hover {
    background: #004ba1;
    cursor: pointer;
}

#toggle {
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.5s;
}

#toggle.toggled {
    transform: scale(1.2);
    color: #008cff;
}

